body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li, dl{
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color:#7d7878;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
li, dd, dt{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color: #333;
}
ul.posts, dl.posts{ 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}
ul.posts, dl.posts {
  list-style: none;
}

.navTop1 {
  border-bottom: 1px solid #d5d5d5;
  min-width: 500px;
}

.workExHeader {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.workExPara {
  font-size: 1.25em;
  line-height: 1.4em;
  min-width: 500px;
  width: 65%;
}

.workExDiv{
  border-bottom: 1px solid #d5d5d5;
  min-width: 500px;
}